* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




#articles {
  margin: 150px auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/* media queries for tablet and small devices */
